.glass {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background: var(--glass);
  border: 1px solid var(--brd);
  border-radius: var(--radius);
}

.glass:hover {
  background: var(--glass2);
}

.glass-static {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background: var(--glass);
  border: 1px solid var(--brd);
  border-radius: var(--radius);
}
